
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
        <label>Category</label>
        <input class="form-control" type="text" name="postCategory" placeholder="For multiple categories separate with a comma." />
        <label>Featured?</label>
        <select class="form-control" name="postFeatured">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
